body {
    font-family: 'Merriweather', serif;
    font-size: 23px;
}

section {
    padding: 40px;
}

.orange_color {
    color: orange;
}

h1 {
    font-size: 50px;
}

div img {
    width: 60%;
    height: 80%;
}

.button {
    margin-top: 30px;
    padding: 20px 35px;
    text-decoration: none;
    color: aliceblue;
    background-color: tomato;
    border-radius: 5px;
}

.first_banner {
    display: flex;
    padding-left: 10%;

}

.first_banner_text {
    margin-right: 10%;
    padding-right: 20%;
}

.first_banner_heading {
    border-left: 8px solid black;
    padding-left: 10px;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 30 30% 45;
}

#single_line {
    padding-top: 25px;
}

.mid_line {
    display: flex;
    justify-content: center;
}

.second_banner {
    display: flex;
    padding-left: 3.5%;

}

.second_banner1 {
    margin: 20px 3%;
    padding: 50px 20px;
    background-color: aliceblue;
    border-radius: 30px;
}

.second_banner2 {
    margin: 20px 3%;
    padding: 50px 20px;
    background-color: rgb(127, 240, 255);
    border-radius: 30px;
}

.second_banner3 {
    margin: 20px 3%;
    padding: 50px 20px;
    background-color: bisque;
    border-radius: 30px;
}

.third_banner {
    display: flex;
    padding-left: 10%;
    background-image: url(./backgroundshapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position-x: 5%;
    background-position-y: 25%;
}

.third_banner_text {
    margin: 10px 50px;
    padding-right: 20%;
}

#third_banner_img {
    width: 600px;
}

.fourth_banner {
    display: flex;
    padding-right: 10%;
    background-image: url(./backgroundshapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position-x: 95%;
    background-position-y: 80%;
}

.fourth_banner_text {
    margin: 10px 50px;
    padding-right: 20px;
}

#fourth_banner_img {
    width: 650px;
}

.bonus_banner {
    display: flex;

}

.second_midline {
    text-align: center;
}

.bonus_banner-text {
    margin-left: 25%;
    margin-top: 5%;
    padding-right: 20%;
}

#bonus_banner_img {
    width: 500px;
    padding-left: 50%;
    background-image: url(./backgroundshapes/shape-2.png), url(./backgroundshapes/shape-3.png), url(./backgroundshapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 110px, 110px, 110px;
    background-position-x: 40%, 38%, 100%;
    background-position-y: 1.5%, 100%, 50%;
}