body {
    font-family: 'Merriweather', serif;
}

.orange_color {
    color: orange;
}

h1 {
    font-size: 50px;
}

div img {
    width: 60%;
    height: 80%;

}

.button {
    margin: 10px 10px;
    padding: 10px 17px;
    text-decoration: none;
    color: aliceblue;
    background-color: tomato;
    border-radius: 3px;
}

.first_banner {
    display: flex;
    padding: 5%
}

.first_banner_text {
    margin-right: 10%;
    padding-right: 20%;
}

.first_banner_heading {
    border-left: 8px solid black;
    padding-left: 10px;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 30 30% 45;
}

#single_line {
    padding-top: 25px;
}

.mid_line {
    display: flex;
    justify-content: center;
}

.second_banner {
    display: flex;
    padding-left: 10%;

}

.second_banner1 {
    margin: 20px 25px;
    padding: 10px 20px;
    background-color: antiquewhite;
    border-radius: 30px;
}

.second_banner2 {
    margin: 20px 25px;
    padding: 10px 20px;
    background-color: aliceblue;
    border-radius: 30px;
}

.second_banner3 {
    margin: 20px 25px;
    padding: 10px 20px;
    background-color: bisque;
    border-radius: 50px;
}

.second_banner_text {
    padding: 30px 40px;
}